<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: rgb(68, 146, 146);">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}" style="font-size: 30px;">Swastiks CRM</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="list-style-type: none;">
          
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add_record' %}" style="color: white; position: relative;left: 120px;">Add Customer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}" style="color: white;position: relative;left: 300px; bottom: 20px;" >Logout</a>
          </li>
  
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}" style="text-decoration: none;">Login</a>
            
   
          </li>        
          {% endif %}
          
          
        </ul>
        
      </div>
    </div>
  </nav>